@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,900;1,100;1,300;1,900&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #9DB2BF;
    font-size: large;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: #27374D;
}

.body {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}