.Form-Container {
    width: 95%;
    /* border: 1px solid black; */
    /* box-shadow: 1px 1px grey; */
    margin: auto;
    display: flex;
    justify-content: center;
}

.Form-Container>form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.Form-Container>form>label {
    font-weight: 400;
}

form>textarea {
    resize: vertical;  
}

.text-input {
    border-radius: 5px;
    height: 3vh;
    margin-bottom: 1vh;
    font-family: inherit;
    border: none;
    box-shadow: 2px 2px grey;
    font-size: 2vh;
}

.sbmt {
    border-radius: 5px;
    font-size: 2vh; 
    padding: 1vh;
    font-family: inherit;
    background-color: #27374D;
    color: #DDE6ED;
}
