.Task-Container {
    position: relative;
    width: 100%;
    border: 1px none black;
    /* border-bottom: 1px solid black; */
    margin-top: 1vh;
    /* box-shadow: 1px 1px grey; */
    background-color: #BF4E30;
}

.Task-Container>h2 {
    margin: 0px;
    text-align: center;
    font-weight: 200;
}

.Task-Container>button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 7px;
}